@model Category

<h1  class="text-center">
	Create Category
</h1>

<form method="post" enctype="multipart/form-data">
	<div class="mb-3">
	<label asp-for="Name"></label>
		<input type="text" asp-for="Name" class="form-control" />
	<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label asp-for="Discount"></label>
		<input type="text" asp-for="Discount" class="form-control" />
		<span asp-validation-for="Discount" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<input type="file" name="file" asp-for="Discount" class="form-control" />
	</div>
	<div class="mb-3">
		<button type="submit" class="btn btn-primary">Create</button>
	</div>
</form>