@model List<Category>

<h1 class="text-center" style="margin:100px">Category List</h1>

<div style="margin:20px">
	<a asp-controller="Categories" asp-action="Create" class="btn btn-primary">Create Category</a>
</div>

<div class="container">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>
					Name
				</th>
				<th>
					Discount
				</th>
			</tr>
		</thead>
		<tbody>
			@for (int i = 0; i < Model.Count; i++)
			{
				<tr>
					<td>
						@Model[i].Name
					</td>
					<td>
						@Model[i].Discount
					</td>
					<td style="width:20px">
						<a asp-controller="Categories" asp-action="Edit" asp-route-id="@Model[i].Id" class="btn btn-primary">Edit</a>
					</td>
					<td style="width:20px">
						<a asp-controller="Categories" asp-action="Delete" asp-route-id="@Model[i].Id" class="btn btn-primary">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
