@model List<Product>
<head>
	<link rel="stylesheet" href="~/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<div class="image-container">
	@for (int i = 0; i < Model.Count; i++)
	{
		<div class="image-item">
			<img src="@Model[i].ImageUrl" />
			<div class="mt-3">
				@Model[i].Price.ToString("c")
			</div>
			<div class="mt-3">
				@if (Model[i].Rating % 1 != 0)
				{
					@for (int j = 0; j < Math.Floor(Model[i].Rating); j++)
					{
						<img src="\css\images\star.png" style="width:20px; height:20px;" />
					}
					<img src="\css\images\half-star.png" style="width:15px; height:15px" />
				}
				else
				{
					@for (int j = 0; j < Math.Floor(Model[i].Rating); j++)
					{
						<img src="\css\images\star.png" style="width:20px; height:20px;" />
					}
				}
			</div>
			<div class="button-container">
				<button class="add-to-cart" product-id="@Model[i].ProductId">add to cart</button>
				<button>buy now</button>
			</div>
		</div>
	}
</div>

<div class="link-container">
	<a asp-controller="Categories" asp-action="CustomerIndex">Categories</a>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$(".add-to-cart").click(function(){
			$.ajax({
				url : "@Url.Action("Details", "Products")",
				type : "GET",
				data : { id : $(this).attr("product-id") },
				success : function(data){
					$("body").html(data);
				},
				error : function(error){
					console.log(error);
				}
			});
		});
	});
</script>

