@model List<ShoppingCart>

<div class="container">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>
					Name
				</th>
				<th>
					Quantity
				</th>
				<th>
					Price
				</th>
			</tr>
		</thead>
		<tbody>
			@for(int i=0;i<Model.Count;i++){
				<tr>
					<td>
						@Model[i].Product.Name
					</td>
					<td>
						@Model[i].Count
					</td>
					<td>
						@((@Model[i].Product.Price*@Model[i].Count).ToString("c"))
					</td>
					<td>
						<button class="btn btn-primary">Check Out</button>
					</td>
					<td>
						<button class="btn btn-primary">Remove From Cart</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
